<head th:replace="~{layout :: head}">
</head>

<body>
<div th:replace="~{layout :: navbar}"></div>
<div class="container mb-5">
  <h1> Projeto Final - Grupo 01 </h1>
  <p>
    Bem-vindos ao projeto final do módulo 04 do curso ADA Polo-Tech Americanas!
    Durante este curso, exploramos uma variedade de conceitos e ferramentas tecnológicas essenciais para o mundo atual.
    Agora, chegou a hora de aplicar esses conhecimentos em um projeto prático.
  </p>
  <h2> Membros deste projeto:</h2>
  <ul>
    <li><strong>Daphne Cordeiro</strong></li>
    <li><strong>Gabriel H. A. Vieira</strong></li>
    <li><strong>Marjorie</strong></li>
    <li><strong>Michael Douglas "MD"</strong></li>
  </ul>
    <a href="/form"><button class="btn btn-dark">Adicionar Produto</button></a>
</div>
</body>

</html>